<md-card>
    <img ng-src="{{$ctrl.post.imageUrl}}" class="md-card-image" alt="image caption">
    <div ng-if="$ctrl.isEdit == false">
        <md-card-title layout="row">
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.post.title}}</span>
            </md-card-title-text>
            <div ng-if="$ctrl.post.author_id === $ctrl.userService.currentUser.id">
                <md-button class="md-icon-button md-primary" ng-click="$ctrl.editMode()" aria-label="Edit">
                    <ng-md-icon icon="edit" style="fill: rgb(156,39,176);" size="20"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button" style="fill: rgba(0,0,0,0.54);" ng-click="$ctrl.showConfirm($event)" aria-label="Remove">
                    <ng-md-icon icon="delete" size="20"></ng-md-icon>
                </md-button>
            </div>
        </md-card-title>

        <md-card-content>
            <p>{{$ctrl.post.description}}</p>
        </md-card-content>
    </div>

    <editable-post ng-if="$ctrl.isEdit==true" post="$ctrl.post" on-cancel="$ctrl.cancelEdit()" on-edit="$ctrl.changePost(post)"></editable-post>
    <md-card-content>
        <div layout="row" layout-align="end center">
            <span style="font-size:small; margin: 5px;">Добавил(а) {{$ctrl.post.user}}</span>
            <span ng-if="$ctrl.post.editDate==null" style="font-size:small; margin: 5px;">{{$ctrl.post.uploadDate| amDateFormat: 'ddd, MMM D YYYY, h:mm:ss'}}</span>
            <span ng-if="$ctrl.post.editDate!=null" style="font-size:small; margin: 5px;"> Изменен {{$ctrl.post.editDate| amDateFormat: 'ddd, MMM D YYYY, h:mm:ss'}} </span>
        </div>
    </md-card-content>
    <md-card-actions>
        <md-button type="button" class="md-primary" ng-click="$ctrl.showComments()"> {{$ctrl.isShown ? 'Скрыть комментарии' : 'Показать комментарии'}} </md-button>
    </md-card-actions>
    <comments-list ng-if="$ctrl.isShown" id='$ctrl.post.id' comments='$ctrl.comments' flex></comments-list>
</md-card>