<form flex-xs="50" flex-offset-xs="25" flex-sm="50" flex-offset-sm="25" flex="30" flex-offset="35" ng-if="!$ctrl.userService.isAuth" name="signupForm" ng-submit="$ctrl.registerUser()">
    <div layout="column">
        <md-input-container>
            <label>Имя</label>
            <input required name="name" ng-model="$ctrl.formModel.name">
            <div ng-messages="$ctrl.formModel.name.$error">
                <div ng-message="required">Введите имя</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Логин</label>
            <input required name="login" ng-model="$ctrl.formModel.login">
            <div ng-messages="$ctrl.formModel.login.$error">
                <div ng-message="required">Введите логин</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Пароль</label>
            <input type="password" required name="password" ng-model="$ctrl.formModel.password">
            <div ng-messages="$ctrl.formModel.password.$error">
                <div ng-message="required">Введите пароль</div>
            </div>
        </md-input-container>

        <md-button layout-align="center" type="submit" class="md-raised md-primary" ng-disabled="signupForm.$invalid">Зарегистрироваться</md-button>

    </div>
</form>