<form name="newpostForm" ng-submit="$ctrl.addPost()">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <md-input-container>
                    <label>Название</label>
                    <input class="md-headline" required name="title" ng-model="$ctrl.formModel.title">
                    <div ng-messages="$ctrl.formModel.title.$error">
                        <div ng-message="required">Введите название</div>
                    </div>
                </md-input-container>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">
            <md-input-container>
                <label>Описание</label>
                <textarea rows="4" required name="" ng-model="$ctrl.formModel.description"></textarea>
                <div ng-messages="$ctrl.formModel.description.$error">
                    <div ng-message="required">Введите описание</div>
                </div>
            </md-input-container>



        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button class="md-raised md-primary">
                <label for="file-input">Выберете фото</label>
            </md-button>
            <input id="file-input" type="file" ngf-select="" ng-model="$ctrl.picFile" style="display:none;" name="file" ngf-accept="'image/*'" required>
        </md-card-actions>
        <img ngf-src="$ctrl.picFile">

        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class="submit" ng-disabled="newpostForm.$invalid">Опубликовать</md-button>
        </md-card-actions>

    </md-card>
</form>