<md-card>
    <img ng-src="{{$ctrl.post.imageUrl}}" class="md-card-image" alt="image caption">
    <div ng-if="$ctrl.isEdit == false">
        <md-card-title layout="row">
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.post.title}}</span>
            </md-card-title-text>

            <div ng-if="$ctrl.post.author_id === $ctrl.userService.currentUser.id" layout="row" layout-align="end center">

                <md-button class="md-fab md-mini" style="background-color: rgb(255,82,82)" ng-click="$ctrl.editMode()" aria-label="Edit">
                    <ng-md-icon icon="edit" style="fill: white" size="20"></ng-md-icon>
                    <!-- <md-icon style="height: 16px; width: 16px; min-height: 16px; min-width: 16px;" md-svg-icon="data/icons/ic_create_black_18px.svg"></md-icon> -->
                </md-button>

                <md-button class="md-fab md-primary md-mini" style="background-color:#673AB7" ng-click="$ctrl.showConfirm($event)" aria-label="Remove">
                    <ng-md-icon icon="delete" style="fill: white" size="20"></ng-md-icon>
                    <!-- <md-icon style="height: 16px; width: 16px; min-height: 16px; min-width: 16px;" md-svg-icon="data/icons/ic_clear_black_18px.svg"></md-icon> -->
                </md-button>
            </div>

        </md-card-title>

        <md-card-content>
            <p>{{$ctrl.post.description}}</p>
        </md-card-content>
    </div>

    <editable-post ng-if="$ctrl.isEdit==true" post="$ctrl.post" on-cancel="$ctrl.cancelEdit()" on-edit="$ctrl.changePost(post)"></editable-post>
    <md-card-content>
        <div layout="row" layout-align="end center">
            <span style="font-size:small; margin: 5px;">Добавил(а) {{$ctrl.post.user}}</span>
            <span ng-if="$ctrl.post.editDate==null" style="font-size:small; margin: 5px;">{{$ctrl.post.uploadDate| date:'dd.MM.yyyy HH:mm'}}</span>
            <span ng-if="$ctrl.post.editDate!=null" style="font-size:small; margin: 5px;"> Изменен {{$ctrl.post.editDate| date:'dd.MM.yyyy HH:mm'}} </span>
        </div>
    </md-card-content>
    <md-card-actions>
        <md-button flex type="button" ng-click="$ctrl.showComments()"> {{$ctrl.buttonText}}</md-button>
    </md-card-actions>
    <comments-list ng-if="$ctrl.isShown" id='$ctrl.id' comments='$ctrl.comments'></comments-list>
</md-card>