<md-list-item class="md-3-line" ng-if="$ctrl.isEdit==false">
    <div class="md-list-item-text" layout="column">
        <h3> {{$ctrl.comment.user}} </h3>
        <h4>{{$ctrl.comment.text}}</h4>
        <p> {{$ctrl.comment.date| date:'dd.MM.yyyy HH:mm'}} </p>
    </div>
    <div layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.editMode()" ng-if="$ctrl.comment.author_id === $ctrl.userService.currentUser.id" class="md-icon-button" aria-label="Edit">
            <md-icon style="height: 16px; width: 16px; min-height: 16px; min-width: 16px;" md-svg-icon="data/icons/ic_create_black_18px.svg"></md-icon>
        </md-button>
        <md-button ng-click="$ctrl.delete()" class="md-icon-button" aria-label="Remove">
            <md-icon style="height: 16px; width: 16px; min-height: 16px; min-width: 16px;" md-svg-icon="data/icons/ic_clear_black_18px.svg"></md-icon>
        </md-button>
    </div>
</md-list-item>

<editable-comment comment="$ctrl.comment" on-edit="$ctrl.changeComment(comment)" on-cancel="$ctrl.cancelEdit()" on-change="$ctrl.changeComment(comment)" ng-if="$ctrl.isEdit==true"></editable-comment>