<md-content class="md-padding">
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-button ui-sref="posts" name="posts" value="posts"> Все фото </md-button>
        <md-button ng-if="$ctrl.userService.isAuth === true" ui-sref="myposts" name="myposts" value="myposts"> Мои фото </md-button>
        <span flex></span>
        <md-button ng-if="$ctrl.userService.isAuth === false" ui-sref="signin" name="signin" value="signin"> Вход </md-button>
        <md-button ng-if="$ctrl.userService.isAuth === false" ui-sref="signup" name="signup" value="signup"> Регистрация </md-button>
        <md-menu ng-if="$ctrl.userService.isAuth === true">
            <md-button ng-click="$mdOpenMenu()">
                {{$ctrl.userService.currentUser.name}}
            </md-button>
            <md-menu-content>
                <!-- <md-menu-item>
                    <md-button>Профиль</md-button>
                </md-menu-item> -->
                <md-menu-item>
                    <md-button ng-click="$ctrl.logout()">Выход</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
</md-content>