<div>
    <div class="col-md-2">
        Search:
        <md-input-container><input ng-model="$ctrl.query" /> </md-input-container>
    </div>
    <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
    </p>
    <md-list flex>
        <md-list-item ng-repeat="phone in $ctrl.phones| filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <md-card>
                <img ng-src="{{phone.imageUrl}}" class="md-card-image" alt="image caption">
                <md-card-content>
                    <span>{{phone.name}}</span>
                    <p>{{phone.snippet}}</p>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                </md-card-content>
            </md-card>

        </md-list-item>
    </md-list>
    <p>Total number of phones: {{$ctrl.phones.length}}</p>
</div>