<form name="newcommentForm" ng-submit="$ctrl.addComment()">
    <div layout="column">
        <md-input-container flex>
            <label> Ваш комментарий</label>
            <input type="text" required name="text" ng-focus="$ctrl.createComment()" ng-model="$ctrl.formModel.text"></input>
        </md-input-container>
    </div>

    <div ng-if="$ctrl.isShown" layout="row" layout-align="end center">
        <md-button type="submit" ng-disabled="newcommentForm.$invalid">Отправить</md-button>
        <md-button ng-click="$ctrl.cancelForm()">Отмена</md-button>
    </div>

</form>