<div ng-if="$ctrl.userService.isAuth == true" layout="column" flex-xs="100" flex-offset-xs="0" flex-sm="100" flex-offset-sm="0" flex="60" flex-offset="20">
    <div>
        <md-button class="md-raised" type="button" ng-click="$ctrl.createPost()">{{$ctrl.buttonText}}</md-button>
        <new-post on-add="$ctrl.addPost(post)" ng-if="$ctrl.isShown"></new-post>
        <post on-delete="$ctrl.deletePost(post)" ng-repeat="post in $ctrl.posts | orderBy:$ctrl.orderProp" post="post"></post>
    </div>
</div>