<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <img ng-src="{{$ctrl.mainImageUrl}}" class="md-card-image" alt="image caption">
            <md-card-content>
                <h2>{{$ctrl.phone.name}}</h2>
                <p>{{$ctrl.phone.description}}</p>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column">
        <md-card>
            <md-card-content>
                <md-card-title-media>
                    <md-list>
                        <md-list-item ng-repeat="img in $ctrl.phone.images">
                            <img class="md-media-sm" ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
                        </md-list-item>
                    </md-list>
                </md-card-title-media>

                <ul>
                    <li>
                        <span>Availability and Networks</span>
                        <dl>
                            <dt>Availability</dt>
                            <dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
                        </dl>
                    </li>
                    <li>
                        <span>Additional Features</span>
                        <dd>{{$ctrl.phone.additionalFeatures}}</dd>
                    </li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
</md-content>