<div layout="column" layout-align="center">
    <div layout-padding>
        <md-input-container>
            <label>Сортировать:</label>
            <md-select ng-model="$ctrl.orderProp">
                <md-option value="title">По алфавиту</md-option>
                <md-option value="-likes">По популярности</md-option>
                <md-option value="-uploadDate">По дате</md-option>
            </md-select>
        </md-input-container>
        <div flex="50" flex-offset="25">
        <post ng-repeat="post in $ctrl.posts | orderBy:$ctrl.orderProp" post="post"></post>
        </div>
        </div>
    </div>