<form name="$ctrl.newcommentForm" ng-submit="$ctrl.addComment()" layout="column">
    <md-input-container flex>
        <label> Ваш комментарий</label>
        <input type="text" required name="text" ng-model="$ctrl.formModel.text"></input>
    </md-input-container>

    <div layout="row" layout-align="end center" style="margin-top: 10px;">
        <md-button type="submit" ng-disabled="$ctrl.newcommentForm.$invalid">Отправить</md-button>
        <md-button ng-click="$ctrl.cancelForm()">Отмена</md-button>
    </div>
</form>